* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

.display-flex {
  display: flex;
}

.max-width {
  max-width: 1140px;
  margin: 0px auto;
}

.font_noto {
  font-family: "Noto Serif", serif;
}

.s_desc {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}

span {
  color: rgb(233, 90, 8);
}

button{
    font-weight: 600;
    color: #ffffff;
    background-color: rgb(233, 90, 8);
    padding: 15px 50px ;
    border: none;
}


/* header section styles */

/* nav related styles */

nav {
  justify-content: space-between;
  align-items: center;
  margin-top: 1.4em;
}

header ul {
  gap: 30px;
  list-style: none;
}

.n-bold {
  font-weight: bold;
}

.n-dark-2 {
  color: rgb(137, 135, 161);
}



/* banner related styles */

.banner {
  align-items: end;
  margin: 100px auto;
}

.banner div {
  max-width: 570%;
}

.banner-heading {
  font-weight: bold;
  font-size: 4em;
}

/* main section related styles*/

/* plant section related styles */

.m_heading{
    text-align: center;
    max-width: 890px;
    margin: auto;
}

.m_heading .s_desc{
    margin: 15px auto;
}

.ps_cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px 15px;
    margin: 25px auto;
}

.p_card{
    gap: 15px;
    flex-direction: column;
    text-align: center;
}

.p_card img{
    width: 100%;
}

.btn-1{
    flex: 1;
}

/* Responsive design for mobile device */

@media screen and (max-width: 576px) {

    body{
        margin-bottom: 40px;
        margin: auto 15px;
    }

  nav ul li:nth-child(1),
  nav ul li:nth-child(2),
  nav ul li:nth-child(3) {
    display: none;
  }

  .banner{
    flex-direction: column-reverse;
    gap:20px
  }

  .banner img{
    width: 100%;
  }

  .ps_cards{
    grid-template-columns: repeat(2,1fr);
  }
}
